<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Move.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1"/>
    </startup>
    <userSettings>
        <Move.Properties.Settings>
            <setting name="MoveIntervalMinutes" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="ActionFlashIconEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ActionSystemBeepEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ActionBalloonTipEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ActionFlashScreenEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ActionLockMachineEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ActionFlashIconSpeed" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="ActionFlashScreenSpeed" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="ActionFlashScreenOpacity" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="RunOnStartupEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ActionFlashScreenBehaviour" serializeAs="String">
                <value>Random</value>
            </setting>
            <setting name="ActionFlashScreenColourCustom" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="ActionSystemBeepSpeed" serializeAs="String">
                <value>2000</value>
            </setting>
            <setting name="ActionBalloonTipText" serializeAs="String">
                <value>Time to move!</value>
            </setting>
        </Move.Properties.Settings>
    </userSettings>
</configuration>
