<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Move.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
    <userSettings>
        <Move.Properties.Settings>
            <setting name="IntervalMinutes" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="FlashIconEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SystemBeepEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MessageBoxEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BalloonTipEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FlashScreenEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LockMachineEnabled" serializeAs="String">
                <value>False</value>
            </setting>
        </Move.Properties.Settings>
    </userSettings>
</configuration>